<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/dark-logo.png" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
              <!-- Empty column or any additional content -->
            </div>
            <div class="col-12 col-sm-6">
              <!-- Empty column or any additional content -->
            </div>
          </div>

          <div class="or-border m-t-30">register</div>

          <form class="m-t-30" (ngSubmit)="submit()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nom</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="firstname" />
            </mat-form-field>
            
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Address Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="email" type="email" />
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="password" type="password" />
            </mat-form-field>

            <!-- Picture input (file upload) -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Profile Picture</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="picture" type="file" accept="image/*" />
            </mat-form-field>

            <!-- Address input -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Address</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="address" />
            </mat-form-field>

            <!-- Enabled checkbox -->
            <mat-checkbox formControlName="enabled">Enable Account</mat-checkbox>

            <button mat-flat-button color="primary" class="w-100" type="submit" [disabled]="!form.valid">
              Sign Up
            </button>
          </form>

          <span class="d-block f-w-500 text-center m-t-24">vous avez deja un compte?
            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Sign In</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
