<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Bon de Travail</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form (ngSubmit)="submitForm()">
      <div class="row">
        <!-- Technicien -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Technicien</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(ngModel)]="selectedTechnicien" name="technicien">
              <mat-option *ngFor="let option of techniciens" [value]="option.id">
                {{ option.username }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Reclamation -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Reclamation</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(ngModel)]="selectedReclamation" name="reclamation">
              <mat-option *ngFor="let option of reclamations" [value]="option.id">
                {{ option.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Date Intervention -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Date Intervention</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Choose a date" [(ngModel)]="dateIntervention" [matDatepicker]="picker1" name="dateIntervention" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Details Intervention -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Details Intervention</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Details of intervention" [(ngModel)]="detailsIntervention" name="detailsIntervention" />
          </mat-form-field>
        </div>

        <!-- Status -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Status</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(ngModel)]="status" name="status">
              <mat-option *ngFor="let statusOption of statusOptions" [value]="statusOption">
                {{ statusOption }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
