<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gradient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/dark-logo.png" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <div class="or-border m-t-30">SIGN IN</div>

          <!-- Bind the form to Angular's formGroup -->
          <form [formGroup]="form" (ngSubmit)="submit()" class="m-t-30">
            <!-- Username Field -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="username" />
            </mat-form-field>
            <div *ngIf="f.username?.touched && f.username?.invalid" class="text-danger">
              <div *ngIf="f.username?.errors?.['required']">Le nom d'utilisateur est requis.</div>
              <div *ngIf="f.username?.errors?.['minlength']">Le nom d'utilisateur doit comporter au moins 6 caractères.</div>
            </div>

            <!-- Password Field -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" />
            </mat-form-field>
            <div *ngIf="f.password?.touched && f.password?.invalid" class="text-danger">
              <div *ngIf="f.password?.errors?.['required']">Le mot de passe est requis.</div>
            </div>

            <!-- Forgot Password Link -->
            <div class="d-flex align-items-center m-b-12">
              <a [routerLink]="['/']" class="text-warning f-w-600 text-decoration-none m-l-auto f-s-14">Forgot Password?</a>
            </div>

            <!-- Submit Button -->
            <button mat-flat-button color="primary" class="w-100" type="submit" [disabled]="form.invalid">
              Sign In
            </button>

            <!-- Error message for failed login -->
            <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
          </form>

          <!-- Register Link -->
          <span class="d-block f-w-500 text-center m-t-24">AGIL Groupe
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Create an account</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
